<!--
  ~ Copyright (C) 2015 The Nevolution Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.oasisfeng.nevo.decorators.bundle" android:versionCode="1" android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />

    <application android:label="[Nevo] Bundle">

        <service
            android:name=".BundleDecorator"
            android:permission="${permission}"
            android:process=":service"
            android:label="@string/decorator_bundle_title"
            android:description="@string/decorator_bundle_description">
            <intent-filter android:priority="-100">
                <action android:name="com.oasisfeng.nevo.Decorator" />
                <action android:name="com.oasisfeng.nevo.decorators.bundle.INotificationBundle" />
            </intent-filter>
        </service>

        <!-- Optional decorator settings activity which will be launched when "settings" button of this decorator is pressed by user.
             Following extras are passed along in the launching intent: (please refer to com.oasisfeng.nevo.NevoConstants in SDK library project)
               "nevo.decorator.component": full component name of the decorator (e.g. "com.oasisfeng.nevo.decorators/com.oasisfeng.nevo.decorators.bundle.BundleDecorator")
               "nevo.notification.package": package name of the currently selected notification.
          -->
        <activity
            android:name=".BundleSettingsActivity"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:permission="${permission}">
            <intent-filter android:label="@string/decorator_bundle_action">
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.PREFERENCE" />
                <!-- <data> tag declares the associated decorator -->
                <data android:scheme="decorator"
                    android:ssp="com.oasisfeng.nevo.decorators.bundle.BundleDecorator" tools:ignore="UnusedAttribute"
                    android:host="com.oasisfeng.nevo.decorators.bundle.BundleDecorator" /> <!-- For backward-compatibility since "android:ssp" is only available on Android 4.4+ -->
            </intent-filter>
        </activity>

        <!-- Optional activity to be launched via a primary action provided by this decorator for any selected notification. A floating modal activity is preferred.
             This action will only show up on notifications for which the user has activated the associated decorator.
             The icon and label of this action should be defined in <intent-filter>.

             Following extras are passed along in the launching intent: (please refer to com.oasisfeng.nevo.NevoConstants in SDK library project)
                "nevo.decorator.component": full component name of the decorator (e.g. "com.oasisfeng.nevo.decorators/BundleDecorator")
                "nevo.notification.package": package name of the currently selected notification.
                "nevo.notification.key": the key of selected notification
                "nevo.notification.title": the EXTRA_TITLE_BIG of selected notification (might be notification's "EXTRA_TITLE" if EXTRA_TITLE_BIG doesn't exist or might be null if both don't exist)
              -->
        <activity
            android:name=".BundleActionActivity"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:permission="${permission}">
            <intent-filter android:icon="@android:drawable/ic_menu_edit" android:label="@string/decorator_bundle_action">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <!-- <data> tag declares the associated decorator -->
                <data android:scheme="decorator"
                      android:ssp="com.oasisfeng.nevo.decorators.bundle.BundleDecorator" tools:ignore="UnusedAttribute"
                      android:host="com.oasisfeng.nevo.decorators.bundle.BundleDecorator" /> <!-- For backward-compatibility since "android:ssp" is only available on Android 4.4+ -->
            </intent-filter>
        </activity>

    </application>

</manifest>
